.welcome{
	width: 100%;
	height: 100px;
	background: #fff;
	color: #000;
	font-size: 30px;
	font-family: "微软雅黑";
}
.welcome p{
	float: left;
	margin: 0 30px;
	line-height: 100px;
}
.reg-box{
	width: 720px;
	height: 500px;
	margin: 30px auto 0 auto;
	padding: 10px 100px;
	color: #000;
	background: #fff;
	font-size: 22px;
	border: 1px solid #ccc;
}
.reg-box pre{
	display: inline-block;   
	width: 150px;
	height: 30px;
	line-height: 28px;
}
.reg-box input{
    width: 500px;
    height: 30px;
    padding-left: 20px;
}
label{
	width: 20px;
	color: red;
	display: inline-block;
}
.submit{
	width: 520px;
	height: 40px !important;
	margin-left: 80px;
	margin-top: 30px;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	background: #009FC6;
	border: 0;
}