*{
    font-family: tahoma,arial,sans-serif;
    font-size: 12px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
/*固定不动的header*/
.header{
	position: fixed;
	height: 64px;
	border-color: #fff;
    position: relative;
}
.header .logo{
	background:url(images/logo.png) no-repeat;
	color: #FF6783;
	font-size: 36px;
	width: 80px;
	height: 64px;
	text-align: center;
	line-height: 64px;
    position: absolute;
    left: 75px;
    float: left;
}
/*不会这个*/
.header ul li{
	list-style: none;
	float: left;
    border:1px solid;
    border-color: #E0E0E0;
    position: absolute;
    left: 176px;
    width: 50px;
    height: 28px;
    line-height: 28px;

}
.search{
	position: absolute;
	left: 250px;
	border:1px solid;
    border-color: #E0E0E0;
    height: 28px;
}
.search .text{
	height: 28px;
	width:328px;
	border: none;
}
.search .btn{
	margin-right: 0;
	height: 28px;
	width: 30px;
	border: none;
	background: url(images/search.png) no-repeat 0 4px;
}
.right{
	margin-right: 200px;
	position: absolute;
	right: 200px;
	border: none;
}
.right ul li .btn{
	width:50px;
	height: 28px;
	background-color: #ff4466; 
	border: none;
	border-radius: 3px;
	border-right:none;
	text-align: center;
}
.right ul li {
	border-right: 1px solid;
	width: 50px;

}