*{
   box-shadow: 5px;
}
body{
	color: #555;
}
h1{
font: 20px/1.7 'Tahoma', 'simsun';
font-family: '微软雅黑',arial;
text-align: center;
font-weight: normal;
color: #eb3170;
}
.clearfix:after{
	content:"";
	display:block;
	clear: both;
}
.header{
	height:50px;
	background-color:#00b0b8; 
}
.container{
	background-color: #2385FC;
	margin: 0 auto;
	width: 520px;
	position: relative;

}
.icon{
	height: 50px;
	width: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color:white;
	background-color:#ff5722;
	border-radius: 50%;
	position: absolute;
	left: -30px;
}
.block1{
	color: #0f0;
	background-color: #000;
	height: 200px;
	width: 200px;
	float: left;
	position: absolute;
	top:10px;
	left:30px;
}
.post-img{
	max-width: 100%;
	display: block;
	margin: 30px auto;
	border: none;
}
.block2{
	background-color: #0ff;
	height: 300px;
	width: 300px;
	float: right;
	box-shadow: 0 27px 50px 0 rgba(158, 28, 28, 1);
}
.footer{
	height: 50px;
	background-color: #888;

}