body{
		background: #eee;
	}
	.title{
        background: #f8f8f8;
        height: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
	}
	.title p{
		height: 20px;
        color: #666;
        line-height: 20px;
        padding-left: 20px;
        border-left: 4px solid #999;
	}
	.details{
		margin-top: 20px;
        margin-left: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
		background: #fff;
	}
	.details table{
		border-collapse: collapse;
		border: 1px solid #ccc;
	}
	.details td{
		border: 1px solid #ccc;
	}