.con{
	margin-top: 50px;
}
.jtl{
	float: left;
	width: 280px;
	margin-top: 30px;
}
.jtl li{
	float: none;
	width: 250px;
	height: 40px;
	margin-top: 20px;
	background: url(../images/jzlibg.png);
	border-radius: 20px;
}
.jtl li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.jtl li .hot{
    background: url(../images/hot.png) no-repeat 166px 12px;
}
.jtl li a:hover{
	border: 1px solid #eee;
}





.jtr{
	float: left;
}
.jtr h5{
	width: 790px;
	margin-top: 20px;
	margin-left: 8px;
	padding-left: 20px;
	font-size: 30px;
	font-family: serif;
	color: #333;
	font-weight: normal;
	border-top: 4px solid #22b4f6;
	border-left: 2px solid #22b4f6;
}
.jtr .wp {
	position: relative;
	width: 800px;
	height: 400px;
	overflow: hidden;
	margin: 0px auto;
	border: 1px solid #eee;
	background: #fff;
}
.jtr .slider {
	position: absolute;
	width: 760px;
	padding: 0 20px;
	left:0;
	top: 0;
}
.jtr .fl {float:left}
.jtr .slider img {display:block; padding: 2px; border: 1px solid #ccc} 
.jtr .slider li {padding: 20px 0; border-bottom: 1px dashed #ccc;overflow:hidden;width:100%}
.jtr .slider li img{
	width: 50px;
}
.jtr .slider p {font-size: 12px;margin:0;padding-left:68px;color:#333;line-height:20px;}
.jz-de{
	width: 100%;
	margin-top: 50px;
}
.jz-de h4{
	width: 100%;
	margin-top: 20px;
	margin-left: 8px;
	padding-left: 20px;
	font-size: 30px;
	font-family: serif;
	color: #333;
	font-weight: normal;
	border-top: 4px solid #22b4f6;
	border-left: 2px solid #22b4f6;
}
.jz-de table{
	width: 100%;
	padding: 40px;
	margin-left: 10px;
	background: #fff;
	border: 1px solid #eee;
	border-collapse: collapse;
}
.jz-de tr{
	border-bottom: 1px dashed #ddd;
}
.jz-de td{
	width: 350px;
	height: 30px;
	color: #333;
	text-align: center;
}
.jz-de table a{
	display: block;
	margin-left: 50px;
	width: 80px;
	height: 26px;
	color: #333;
	text-align: center;
	line-height: 30px;
	background: #eee;
	border-radius: 2px;
}




.jz{
	width: 1200px;
	margin: 50px auto;
}
.jz h1,.jz h2{
	font-family: "微软雅黑";
	font-weight: normal;
	color: #374953;
} 
.jz h1{
    font-size: 34px;
}
.jz h2{
	font-size: 30px;
}
.jz h2 span{
	display: inline-block;
	padding:20px 0; 
	color: #00C499;
	font-size: 38px;
}
.jz .pic{
	width: 980px;
	margin:10px auto;
}
.jz .left span,.jz .right span{
	display: inline-block;
	margin: 20px 12px 10px 12px;
	font-size: 20px;
	font-family: "微软雅黑";
}
.jz p{
    margin: 0px 12px 10px 12px;
    font-family: "微软雅黑";
}
.jz .left{
	float: left;
}
.jz .ltl-p{
	width: 180px;
	height: 125px;
	margin:0 5px 5px 0;
}
.jz .ltr-p{
    width: 295px;
    height: 260px;
    margin:0 5px 5px 0;
}
.ltl{
	float: left;
}
.ltr{
	position: relative;
	float: left;
	width: 295px;
	height: 260px;
	margin:0 5px 5px 0;
}
.ltr-c{
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 295px;
	height: 0;
	color: #fff;
	background: rgba(56,64,83,0.8);
	transition:height 0.3s ease-out;
	overflow: hidden;
}
.ltr:hover .ltr-c{
	height: 260px;
}
.jz .right{
	float: left;
	padding: 0;
}
.lbl{
	position: relative;
	float: left;
	width: 310px;
	height: 180px;
	margin:0 5px 5px 0;
}
.lbl-c{
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 310px;
	height: 0;
	color: #fff;
	background: rgba(56,64,83,0.8);
	transition:height 0.3s ease-out;
	overflow: hidden;
}
.lbl:hover .lbl-c{
	height: 180px;
}
.lbl-p{
	float: left;
}
.lbr {
	float: left;
	margin:0 5px 5px 0;
}
.rl{
	float: left;
}
.rlt{
	width: 265px;
	height: 160px;
	margin:0 5px 5px 0;
}
.rlb{
	position: relative;
	width: 265px;
	height: 280px;
	margin:0 5px 5px 0;
}
.rlb-c{
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 265px;
	height: 0;
	color: #fff;
	background: rgba(56,64,83,0.8);
	transition:height 0.3s ease-out;
	overflow: hidden;
}
.rlb:hover .rlb-c{
	height: 280px;
}
.rr{
	float: left;
}
.rrt{
	position: relative;
	width: 210px;
	height: 280px;
	margin:0 5px 5px 0;
}
.rrt-c{
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 210px;
	height: 0;
	color: #fff;
	background: rgba(56,64,83,0.8);
	transition:height 0.3s ease-out;
	overflow: hidden;
}
.rrt:hover .rrt-c{
	height: 280px;
}
.rrb{
	width: 210px;
	height: 160px;
}
.jz .btn{
	width: 700px;
	margin: 50px auto;
}
.jz .btn .text{
	width: 700px;
	height: 100px;
	margin:0 auto;
	font-size: 18px;
	padding: 20px;
	border: 1px solid #999;
} 
.jz .btn .submit{
	display: block;
	width:342px; 
	height:68px;
	margin: 50px auto;
	color: #fff;
	text-align: center;
	line-height: 68px;
	font-size: 30px;
	font-family: "微软雅黑";
	background: #28DFAE;
	border-radius: 34px;
	cursor: pointer;
}
.jz .btn a:hover{
	background: #24BE9A;
}
.mt{
	padding:50px 100px;
	background: #fff;
}
.mt-de{
	margin:0 auto;
}
.mt h3{
	margin-left: 4px;
	color: #666;
    font-size: 45px;
    font-family: "微软雅黑";
    font-weight: normal;
}
.mt .line{
	width: 1300px;
	height: 3px;
	background:#28DFAE;
}
.mt-c{
	width: 1300px;
	padding: 0;
}
.mt li{
	margin-top: 50px;
	margin-right:80px;
	height: 52px;
}
